*.ansible
*.bash_history
*.bash_logout
*.bash_profile
*.bashrc
*.gitignore
*.lesshst
*.local
*.ssh
*.tmux-keybindings.conf
*.tmux.conf
*.vim
*.viminfo
*.vscode-server
*.zcompdump
*.rpm
mc
tmp
tmux
history
